.env
.env.local
.env-development
.env-production
node_modules/
dist/
build/
coverage/
*.log
.DS_Store
.vscode/
.idea/
.eslintcache
*.tsbuildinfo
*pre-commit-config.yaml
.Infra.automation.yml
# Ignore all files in the public directory except for index.html