.env
.env.local
.env-development
.env-production
node_modules/
dist/
build/
coverage/
*.log
.DS_Store
.vscode/
.idea/
.eslintcache
*.tsbuildinfo

# Ignore all files in the public directory except for index.html